# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pulsarctl
bin/
api-examples.jar
dummyExample.jar
pulsar-io-kafka-2.4.0.nar
kafka-clients-0.10.2.1.jar
pulsar-io-jdbc-2.4.0.nar
data

# Website

site/gen-pulsarctldocs/generators/includes
site/gen-pulsarctldocs/generators/build/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Intellij
.idea

# Mac
.DS_Store

# Binary distribution
pulsarctl*.tar.gz
pulsarctl-site-*.tar.gz
