name: Pulsarctl
on:
  pull_request:
    branches:
      - '*'
    path-ignores:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
jobs:
  bookie-ut-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.25
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run bookKeeper service
      run: |
        pushd test/docker
        docker compose pull
        docker compose up -d
        popd
    - name: Check bookKeeper service
      run: |
        ./test/script/check.sh bookieHTTP
    - name: Write dummy data
      run: |
        docker exec bk bin/bookkeeper shell simpletest -ensemble 1 -writeQuorum 1 -ackQuorum 1 -numEntries 10
        docker exec bk bin/bookkeeper shell simpletest -ensemble 1 -writeQuorum 1 -ackQuorum 1 -numEntries 10
    - name: Test
      run: |
#        docker ps
#        CGO_ENABLED=1 go test -v -race ./pkg/bkctl/...
#        CGO_ENABLED=1 go test -v -race ./pkg/bookkeeper/...
