name: Pulsarctl
on:
  pull_request:
    branches:
    - '*'
    path-ignores:
    - 'docs/**'
    - 'README.md'
    - 'CONTRIBUTING.md'
jobs:
  bookie-ut-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "ossrh", "username": "${{ secrets.SONATYPE_USERNAME }}",
          "password": "${{ secrets.SONATYPE_PASSWORD }}"}]'
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
    - name: Set up Go 1.18
      uses: actions/setup-go@v1
      with:
        go-version: 1.18
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run bookKeeper service
      run: |
        pushd test/docker
        docker-compose pull
        docker-compose up -d
        popd
    - name: Check bookKeeper service
      run: |
        ./test/script/check.sh bookieHTTP
    - name: Write dummy data
      run: |
        docker exec bk bin/bookkeeper shell simpletest -ensemble 1 -writeQuorum 1 -ackQuorum 1 -numEntries 10
        docker exec bk bin/bookkeeper shell simpletest -ensemble 1 -writeQuorum 1 -ackQuorum 1 -numEntries 10
    - name: Test
      run: |
        docker ps
        CGO_ENABLED=1 go test -v -race ./pkg/bkctl/...
        CGO_ENABLED=1 go test -v -race ./pkg/bookkeeper/...
