name: Pulsarctl
on:
  pull_request:
    branches:
    - '*'
    paths:
    - 'install.sh'
    - 'stable.txt'
jobs:
  install-script-check:
    runs-on: ubuntu-latest
    steps:
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
      env:
        CLOUDSMITH_USERNAME: ${{ secrets.CLOUDSMITH_USERNAME }}
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Test install
      run: |
        ./install.sh -u -v v0.3.0
        ~/.pulsarctl/pulsarctl help
        ./install.sh -u
        ~/.pulsarctl/pulsarctl help
      env:
        CLOUDSMITH_USERNAME: ${{ secrets.CLOUDSMITH_USERNAME }}
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
