name: Pulsarctl

on:
  pull_request:
    branches:
      - '*'
    path-ignores:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'

jobs:
  release-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 1.13, 1.14, 1.15, 1.16, 1.17, 1.18 ]
    steps:
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "ossrh", "username": "${{ secrets.SONATYPE_USERNAME }}",
          "password": "${{ secrets.SONATYPE_PASSWORD }}"}]'
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: build
      run: |
        version=`cat VERSION`
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o pulsarctl-amd64-linux -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
        CGO_ENABLED=0 GOOS=linux GOARCH=386 go build -o pulsarctl-386-linux -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
        CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o pulsarctl-amd64-darwin -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
        CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o  pulsarctl-amd64-windows.exe -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
        CGO_ENABLED=0 GOOS=windows GOARCH=386 go build -o  pulsarctl-386-windows.exe -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
    - name: build-site
      run: |
        make cli
