name: Pulsarctl
on:
  pull_request:
    branches:
      - '*'
    path-ignores:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.24
        uses: actions/setup-go@v1
        with:
          go-version: 1.24
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: InstallTool
        run: |
          wget -O - -q https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s v1.61.0
          ./bin/golangci-lint --version
      - name: Build
        run: go build .
      - name: CheckStyle
        run: |
          ./bin/golangci-lint run -c ./golangci.yml ./...
