name: Pulsarctl
on:
  pull_request:
    branches:
      - '*'
    path-ignores:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "ossrh", "username": "${{ secrets.SONATYPE_USERNAME }}",
          "password": "${{ secrets.SONATYPE_PASSWORD }}"}]'
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
    - name: Set up Go 1.18
      uses: actions/setup-go@v1
      with:
        go-version: 1.18
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: InstallTool
      run: |
        wget -O - -q https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s v1.45.2
        ./bin/golangci-lint --version
    - name: Build
      run: go build .
    - name: CheckStyle
      run: |
        ./bin/golangci-lint run -c ./golangci.yml ./...
