name: Pulsarctl
on:
  pull_request:
    branches:
      - '*'
    path-ignores:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'

jobs:
  scan-vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build
        run: go build .

      - name: Build docker image
        run: docker build -f docker/amd64-linux.Dockerfile -t pulsarctl .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'pulsarctl:latest'
          format: 'table'
          exit-code: '1'
          severity: "MEDIUM,HIGH,CRITICAL"
          vuln-type: "library"