name: Go
on: [pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        docker pull apachepulsar/pulsar
        docker run -d -p 8080:8080 -p 6650:6650 -v ${PWD}:/pulsar_test --name pulsarctl apachepulsar/pulsar bin/pulsar standalone
        docker cp pulsarctl:/pulsar/examples/api-examples.jar ${PWD}/test/functions
        sleep 10

    - name: Build
      run: go build .
      
    - name: Test
      run: |
        docker ps
        ./pulsarctl clusters list
        go test -v ./...
