name: Pulsarctl Release

on:
  release:

jobs:
  upload:
    name: Upload go build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-go@v1
        with:
          go-version: 1.12
        id: go

      - name: build
        run: |
          version=`cat VERSION`
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o pulsarctl-amd64-linux -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
          CGO_ENABLED=0 GOOS=linux GOARCH=386 go build -o pulsarctl-386-linux -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
          CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o pulsarctl-amd64-darwin -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
          CGO_ENABLED=0 GOOS=darwin GOARCH=386 go build -o pulsarctl-386-darwin -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
          CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o  pulsarctl-amd64-windows.exe -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
          CGO_ENABLED=0 GOOS=windows GOARCH=386 go build -o  pulsarctl-386-windows.exe -ldflags "-X github.com/streamnative/pulsarctl/pkg/pulsar.ReleaseVersion=Pulsarctl-Go-$version" .
      - name: build-site
        run: |
          make cli

      - name: publish
        uses: skx/github-action-publish-binaries@release-0.11
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'pulsarctl*'
